.container {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 96px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(2px);
}

@media (max-width: 920px) {
  .container {
    width: calc(100% - 80px);
  }
}

@media (max-width: 640px) {
  .container {
    width: calc(100% - 32px);
    padding: 40px 16px;
  }
}